/*Limpando formatações*/

* {
    margin: 0;
    padding: 0;
}

/*Formatação geral*/

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6
}

/* Formatações do Cabeçalho */ 

#area_cabecalho {
    background: #f7b700;
    padding: 15px;
    text-align: center;
}

#area_logo {
    padding: 10px;
}

#area_menu {
    padding: 10px;
}

h1 {
    color: #4e4e4e;
    size: 2.5em;
}

h2 {
    color: #f7b600;
}

.branco {
    color: #ffffff;
}

a {
    text-decoration: none;
}

a:link , a:visited { 
    color: #fb7600;
}

a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

/* Usando Seletor, desse jeito só irá afetar os links 
dentros da DIV que usa #area_cabecalho */

#area_cabecalho a:link,#area_cabecalho a:visited { 
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 10%;
}

#area_cabecalho a:hover {
    color:#f7b600;
    background: #ffffff;
    transition: 0.5s;
    text-decoration: none;
}

/* Conteúdo */

#area_principal {
    width: 920px;
    margin: 0 auto; /* Para centralizar */
    padding: 20px;
}

#area_postagens {
    width: 660px;
    float: left;
}

#area_lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;            /*para ignorar os floats do content*/
    text-align: center;
    background: #cccccc;
    padding: 15px;

}

.postagem {
   padding: 20px; 
   margin-bottom: 20px;
   background: #ffffff;


}

.data_postagem {
    font-size: 0.8em;    
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}


/* Lateral */

.conteudo_lateral {
    background: #ffffff;
    
}