* {
    font-family: Helvetica;
    font-weight: bold;       /* FONT WEIGHT = BOLD pra deixar NEGRITO!*/
}


#ul_teoria {
   list-style-type:none;   /*Essa propriedade tira as marcações*/
   margin: 0;
   padding: 0;
}

#li_teoria {
    padding: 5px 20px;
    background: url(../images/seta.png) no-repeat left center;
}

/*-----------*/

#ul_pratica {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 
 ul a {         /*para selecionar todos os links dentro da UL*/
    width: 200px;
    height: 40px;
    display: block;          /*Coloquei isso aqui pq os links são INLINE*/
    color: #000;
    text-decoration: none;
    text-indent: 40px;       /*Usa essa propriedade pra mover o texto um pouco para direita*/
    line-height: 40px;     /* Essa propriedade define o tamanho da linha de um texto, ou seja, podemos deixar o tamanho da linha igual ao tamanho da LI, resultado é q vai ficar centralizado */
    background: url(../images/menu.png) no-repeat left bottom;
 }

 a:hover {
    background-position: right bottom;  /*Na prática, essa propiedade move a imagem para esquerda ao passar o mouse, fazendo assim a 'mágica' da mudança de cor*/
    color: #fff;
    transition: 0.1s;
 }